/* global.css */
.marker-animated {
  animation: fadeInZoom 0.5s ease-out;
}

@keyframes fadeInZoom {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* En tu archivo globals.css o un nuevo archivo */
.custom-modal ion-modal {
  z-index: 9999 !important;
  position: relative !important;
}
