/* PERSPICTO-IONIC-MAPBOX\src\theme\globals.css */

/* Estilo base para botones del segmento */
.segment-button-custom {
  background-color: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 1rem;
  padding: 4rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.labelbtn{
    background-color: transparent;
}

/* Efecto de toque */
.segment-button-custom:active {
  transform: scale(0.97);
}


.marker-animated {
  animation: fadeInZoom 0.5s ease-out;
}

/* En tu archivo globals.css o un nuevo archivo */
.custom-modal  {
  z-index: 9999 !important;
  position: relative !important;
  color: var(--ion-color-secondary-contrast);
}


.filters-container {
  position: absolute;
  top: 8vh;
  left: 4vw;
  z-index: 70;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  max-width: 280px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .filters-container {
    top: 10vh;
    left: 2vw;
    max-width: 220px;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
  }
}




/* Estilo letra global */

/* */